---
name: build
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  mypyc:
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3.0.2
      - name: Setup python
        uses: actions/setup-python@v3.1.2
      - name: Install mypy
        run: python -m pip install mypy
      - name: Compile source with mypyc
        run: mypyc -m before_commit

  flit:
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3.0.2
      - name: Setup python
        uses: actions/setup-python@v3.1.2
      - name: Install flit
        run: python -m pip install flit

      - name: Build wheel
        run: flit build --format wheel
      - name: Build sdist
        run: flit build --format sdist

      - name: Install
        run: flit install --user
