---
name: checks

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  before-commit:
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    env:
      SKIP: no-commit-to-branch
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - uses: before-commit/run-action@v2
